<!-- The jQuery library is a prerequisite for all jqSuite products -->

	<script type="text/ecmascript" src="required/jquery.js"></script> 

    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="required/jquery.jqGrid.js"></script>
    <!-- This is the localization file of the grid controlling messages, labels, etc.-->
	 <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="required/grid.locale-en.js"></script>   

	<script type="text/ecmascript" src="required/jquery-ui.js"></script>
	
    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen" href="required/ui.jqgrid.css" /> 
	
	<!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
    <link rel="stylesheet" type="text/css" media="screen" href="required/jquery-ui.css" /> 
	