<!-- <!DOCTYPE html>
<html>
<head>

<script type="text/ecmascript" src="/js/jquery/jquery.js"></script>
<script type="text/ecmascript" src="/js/common.js"></script>
<script type="text/ecmascript" src="/js/jquery/jquery.jqGrid.js"></script>
<script type="text/ecmascript" src="/js/jquery/grid.locale-en.js"></script>   
<script type="text/ecmascript" src="/js/jquery/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/ui.jqgrid.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/jquery-ui.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/common.css" />

<meta charset="ISO-8859-1">
<title>Personal finance tracker</title>
</head>

<body style="background-image: url(/css/jquery/images/img_bg_1.jpg);">
<div class="topnav">
  <a href="trxnHistory">Transactions</a>
  <a href="budget">Budget</a>
  <a href="graphs" class="active">Graphs</a>
  <a href="category">Category</a>
</div> -->

<div style="padding-left:16px">
		<fieldset style="padding-top:0px; !important;">
		<form>
		  <center>
				<h1 class="demoHeaders" >
					Graphs
				</h1>
			</center>
			 
		</form>
	</fieldset>
</div>
<!-- </body>
</html> -->