<!DOCTYPE html>
<html>
<head>

<script type="text/ecmascript" src="/js/jquery/jquery.js"></script>
<!-- <script type="text/ecmascript" src="/js/common.js"></script> -->
<script type="text/ecmascript" src="/js/jquery/jquery.jqGrid.js"></script>
<script type="text/ecmascript" src="/js/jquery/grid.locale-en.js"></script>   
<script type="text/ecmascript" src="/js/jquery/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/ui.jqgrid.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/jquery-ui.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/common.css" />

<meta charset="ISO-8859-1">
<title>Personal finance tracker</title>
</head>

<body style="background-image: url(/css/jquery/images/img_bg_1.jpg); padding-top: 40px;">
<fieldset>
	<div id="accordion" >
		<form>
				<h1 class="demoHeaders" style="align-content: center;">
					<label>Login</label>
				</h1>
				<br /><br /> <br />
				<div>
					<div class="input-field">
						<label> User Name  </label> 
						<input type="text"  class="form-control" name="username" required>
					</div>
					<br /> <br />
					<div class="input-field">
					 	<label> Password  </label> 
					 	<input type="password"  class="form-control" name="password" required>
					</div> 
					<br /> <br />  <br />
					<span> 
						<input type="submit" value="Login" class="ui-button ui-corner-all ui-widget" /> 
					<!-- 	<input type="button" value="Reset" class="ui-button ui-corner-all ui-widget" /> -->
					</span>
					 <br />  <br />
				</div>
		</form>
	</div>
</fieldset>
</body>
</html>