<!DOCTYPE html>
<html>
<head>

<script type="text/ecmascript" src="/js/jquery/jquery.js"></script>
<!-- <script type="text/ecmascript" src="/js/common.js"></script> -->
<script type="text/ecmascript" src="/js/jquery/jquery.jqGrid.js"></script>
<script type="text/ecmascript" src="/js/jquery/grid.locale-en.js"></script>   
<script type="text/ecmascript" src="/js/jquery/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/ui.jqgrid.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery/jquery-ui.css" /> 
<link rel="stylesheet" type="text/css" media="screen" href="/css/common.css" />

<meta charset="ISO-8859-1">
<title>Personal finance tracker</title>
</head>

<body style="background-image: url(/css/jquery/images/img_bg_1.jpg);">
	<fieldset style="padding-top:0px; !important;">
		<form>
		  <center>
				<h1 class="demoHeaders" >
					New Transaction 
				</h1>
			</center>
				<div class="input-field">
					<input type="radio" name="trxnType" value="1" checked > Expense 
					<input type="radio" name="trxnType" value="2" > Income
				</div>
				<br />
				<div class="input-field">
					<label> Category : </label>
					<select class="cs-select cs-skin-border">
						<option>--Select--</option>
					</select>
				</div>
				<br />
				<div class="input-field">
					<label> Description  </label> 
					<input type="text"  class="form-control" name="description" required>
				</div>
				<br />
				<div class="input-field">
				 	<label> Amount  </label> 
				 	<input type="number"  class="form-control" name="amount" required>
				</div> 
				<br /> 
				<div class="input-field">
				 	<label> Purchased Date  </label> 
				 	<input type="date"  class="form-control" name="purchasedDate" required>
				</div> 
				<br /> 
				<div class="input-field">
					<input type="submit" value="Save" class="ui-button ui-corner-all ui-widget" /> 
					<input type="button" value="Cancel" class="ui-button ui-corner-all ui-widget" /> 
				</div>
				 <br /> 
		</form>
	</fieldset>
</body>
</html>